In [1]:
import pandas as pd
import numpy as np

In [5]:
sales = pd.read_csv('sales_082020.csv', parse_dates=['date'])

sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

## 1. How many rows & columns in the sales dataset?

In [8]:
sales.shape

(237671, 10)

In [7]:
print(f"{sales.shape[0]} rows & {sales.shape[1]} columns in this dataset.")

237671 rows & 10 columns in this dataset.

## 2. What is the total number of sellers?

In [9]:
sales['seller_id'].nunique()

114227

In [10]:
print(f"{sales['seller_id'].nunique()} sellers in dataset.")

114227 sellers in dataset.

## 3. What is the total value of sales in EUR?

In [11]:
sales['currency'].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [14]:
currency_rates = pd.read_csv('currency_rates_082020_EUR.csv', parse_dates=['date'])

currency_rates.sample(10)

    currency       date       rate
8        EUR 2020-08-09   1.000000
78       CHF 2020-08-09   1.075405
81       SEK 2020-08-02  10.341820
7        EUR 2020-08-08   1.000000
125      THB 2020-08-06  36.906000
72       CHF 2020-08-03   1.079215
123      THB 2020-08-04  36.621000
68       HKD 2020-08-09   9.131855
135      MXN 2020-08-06  26.605050
5        EUR 2020-08-06   1.000000

In [18]:
len(sales)

237671

In [17]:
len(currency_rates)

220

In [15]:
currency_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [16]:
currency_rates['currency'].unique()

array(['EUR', 'GBP', 'USD', 'AUD', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [20]:
sales_and_currency = sales.merge(currency_rates, how='left', on=['currency', 'date'])
sales_and_currency.sample(10)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
121941,kiwm0fxxq7,GB,hu47t8w8,GB,ok1hpl6tr2dj,Accessories,Zara,GBP,11.22,2020-08-03,0.899350
128730,iezowraigx,GB,1zxqysjk,GB,svt161hdbwub,Other,NaN,GBP,8.84,2020-08-08,0.903200
129873,jxqey9bglv,GB,4vp9tjts,GB,c2flr2yhzcg4,Dresses,Topshop,GBP,10.64,2020-08-06,0.903835
1738,3j5ugvi5ba,US,4f525u2z,US,bwdt0gu7iu9x,Bottoms - Womens,NaN,USD,22.14,2020-08-04,1.181445
156669,gk9c7g1ha9,US,kpe9opy6,US,ugfo4ozr1s2h,Shoes,Puma,USD,39.92,2020-08-08,1.178700
178570,7r81u9hr00,US,quhd3efw,US,s8cn7ei4tfcd,Tops - Womens,NaN,USD,17.00,2020-08-07,1.178785
170905,5a0b6ym3bq,GB,mbunbya8,GB,g5p1pjroymbc,Bottoms - Womens,F&F,GBP,12.87,2020-08-05,0.904500
41094,r3u7cgnxpw,GB,wgfy8zl2,GB,9uxrstxhyyw5,Tops - Mens,Puma,GBP,4.24,2020-08-06,0.903835
23120,cqper5em0q,US,ahgspxi3,US,0se18c7plu7a,Tops - Womens,Nasty Gal,USD,11.44,2020-08-06,1.187590
66505,qfkhn2td7q,GB,xvonayd1,GB,qri91v7ac11y,Tops - Womens,NaN,GBP,10.03,2020-08-08,0.903200

In [21]:
sales['currency'].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [25]:
sales_and_currency['price_€'] = (1 / sales_and_currency['rate']) * sales_and_currency['price']
sales_and_currency.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,price_€
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09,0.90278,17.634418
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07,0.90286,7.055357
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09,0.90278,27.991316
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09,0.90278,9.858437

In [26]:
sales_and_currency['price_€1'] = sales_and_currency['price'] / sales_and_currency['rate']
sales_and_currency.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,price_€,price_€1
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680,21.248680
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09,0.90278,17.634418,17.634418
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07,0.90286,7.055357,7.055357
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09,0.90278,27.991316,27.991316
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09,0.90278,9.858437,9.858437

In [27]:
sales_and_currency['price_€'].sum()

6471510.8224988775

In [28]:
print("Total sales are €{:,.0f}.".format(sales_and_currency['price_€'].sum()))

Total sales are €6,471,511.

## 4. Which brand has the highest number of purchases during the period?

In [27]:
(
    sales_and_currency
    .groupby('brand')
    .agg({'price_€': 'sum'})
    .sort_values(by='price_€', ascending=False)
    .round(2)
)

                    price_€
brand
Nike              154887.70
American Vintage   62696.66
Brandy Melville    53155.72
Adidas             50067.54
Levi's             28812.36
...                     ...
Vintage Havana         3.61
Neon Rose              3.57
Poof                   2.78
360 Cashmere           1.88
36572                  0.95

[989 rows x 1 columns]

In [29]:
sales_and_currency.groupby('brand').agg({'price_€': 'sum'}).sort_values(by='price_€', ascending=False).round(2)

                      price_€
brand
Nike                385022.41
Adidas              114211.54
American Vintage     89939.91
Brandy Melville      87735.66
Dr. Martens          81491.62
...                       ...
butter LONDON            5.46
Ann Demeulemeester       5.26
Popular Sports           4.45
360 Cashmere             2.85
36572                    0.95

[1134 rows x 1 columns]

In [28]:
(
    sales_and_currency
    .groupby('brand')
    .agg({'price_€': 'sum'})
    .sort_values(by='price_€', ascending=False)
    .index[0]
)

'Nike'

In [30]:
sales_and_currency.groupby('brand').agg({'price_€': 'sum'}).sort_values(by='price_€', ascending=False).index[0]

'Nike'

## 5. How many items in the “Jewellery” category have no brand associated with them?

In [31]:
(
    sales_and_currency
    .groupby('category')
    .agg({'brand': 'count'})
    .sort_values(by='brand', ascending=False)
)[:5]

                  brand
category
Tops - Womens     23844
Tops - Mens       20942
Bottoms - Womens  18252
Shoes             16532
Dresses           10604

In [33]:
sales_and_currency.groupby('category').agg({'brand': 'count'}).sort_values(by='brand', ascending=False)[:5]

                  brand
category
Tops - Womens     23844
Tops - Mens       20942
Bottoms - Womens  18252
Shoes             16532
Dresses           10604

In [34]:
sales_and_currency[(sales_and_currency['category'] == 'Jewellery')\
                    & (sales_and_currency['brand'].isnull())]\
                    ['product_code'].nunique()

10931

In [36]:
sales_and_currency[(sales_and_currency['category'] == 'Jewellery') 
                   & (sales_and_currency['brand'].isnull())]['product_code'].nunique()

10931

In [37]:
sales_and_currency[(sales_and_currency['category'] == 'Jewellery') 
                   & (sales_and_currency['brand'].isnull())]['product_code'].count()

13525

## 6. How many brands have between 35 and 55 transactions (inclusive)?

In [39]:
# Solution 1

(
    sales_and_currency
    .groupby('brand')
    .agg(transactions=('product_code', 'count'))
    .sort_values(by='transactions', ascending=False)
    .query('35 <= transactions <= 55')
    .count()
)

transactions    81
dtype: int64

In [42]:
sales_and_currency.groupby('brand').agg(transactions=('product_code', 'count'))\
                  .sort_values(by='transactions', ascending=False).query('35 <= transactions <= 55').count()

transactions    81
dtype: int64

In [67]:
# Solution 2

values = sales_and_currency.groupby('brand').agg({'product_code': 'count'})\
                  .sort_values(by='product_code', ascending=False)['product_code'].value_counts()
values = pd.DataFrame(values)
values = values.sort_index()
values.head(10)

    product_code
1            169
2            106
3             81
4             54
5             41
6             24
7             22
8             28
9             25
10            24

In [66]:
values.iloc[34:54].sum()

product_code    81
dtype: int64

In [68]:
# Solution 3

brand_df =(
            sales_and_currency
            .groupby('brand')
            .agg(transactions=('product_code', 'count'))
            .sort_values(by='transactions', ascending=False)
           )

brand_df.head()

                    transactions
brand
Nike                        9575
Brandy Melville             5065
Topshop                     4561
PrettyLittle Thing          4136
Adidas                      3905

In [70]:
brand_df = sales_and_currency.groupby('brand').agg(transactions=('product_code', 'count'))\
                             .sort_values(by='transactions', ascending=False)
brand_df.head()

                    transactions
brand
Nike                        9575
Brandy Melville             5065
Topshop                     4561
PrettyLittle Thing          4136
Adidas                      3905

In [71]:
brand_df[brand_df['transactions'].between(35, 55)]

                transactions
brand
Missy Empire              55
George                    55
Cotton On                 53
Oasis                     52
Moda Minx                 52
...                      ...
Chi Chi London            35
Bobbi Brown               35
Xhilaration               35
Morgan De Toi             35
Mario Badescu             35

[81 rows x 1 columns]

In [72]:
len(brand_df[brand_df['transactions'].between(35, 55)])

81

In [73]:
print(f"{len(brand_df[brand_df['transactions'].between(35, 55)])} brands have 35 and 55 transactions.")

81 brands have 35 and 55 transactions.

## 7. How many pairs of shoes were purchased by Australian (AU) buyers?

In [74]:
sales_and_currency[(sales_and_currency['buyer_country'] == 'AU') & (sales_and_currency['category'] == 'Shoes')]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,price_€,price_€1
139,ex9bpqq8w6,AU,j3pkou10,US,2tzszjhssh03,Shoes,Skechers,USD,52.24,2020-08-08,1.178700,44.320014,44.320014
539,uru4etz7e5,AU,1i84ez1k,AU,zzu9hpjsjx6o,Shoes,NaN,AUD,73.73,2020-08-09,1.646306,44.785113,44.785113
5639,9fn32ae6a9,AU,arloo1le,GB,a2gdza98bia7,Shoes,Nike,GBP,75.27,2020-08-09,0.902780,83.375795,83.375795
7117,40jm2mgsri,AU,toud3ymd,AU,so29y8tl6rvs,Shoes,Nike,AUD,55.03,2020-08-09,1.646306,33.426350,33.426350
7118,ncxx01xn4j,AU,toud3ymd,AU,utn7clcp7j3n,Shoes,NaN,AUD,211.76,2020-08-03,1.652380,128.154541,128.154541
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236930,azmnowovd7,AU,xgse9ed3,AU,1xzq0f7a31bi,Shoes,NaN,AUD,85.48,2020-08-05,1.649130,51.833391,51.833391
237075,i0loqi83nv,AU,f8ts15sr,AU,zvrlgzyse7j6,Shoes,NaN,AUD,34.01,2020-08-05,1.649130,20.622995,20.622995
237495,86aw49gm0m,AU,seb5z7bo,AU,xeebt9i4gyo3,Shoes,NaN,AUD,85.69,2020-08-05,1.649130,51.960731,51.960731
237497,pcd2mdsr3n,AU,agzes91a,AU,bvqweclvm8tx,Shoes,NaN,AUD,95.27,2020-08-06,1.642120,58.016467,58.016467
237575,0s9ms8inq0,AU,zkon4br2,AU,srw1zpebx9zo,Shoes,Nike,AUD,180.12,2020-08-05,1.649130,109.221226,109.221226

In [75]:
au_shoe_buyers = sales_and_currency[(sales_and_currency['buyer_country'] == 'AU')\
                                     & (sales_and_currency['category'] == 'Shoes')]\
                                     .shape[0]
au_shoe_buyers

658

In [76]:
print(f"{au_shoe_buyers} pairs of shoes were purchased by AU buyers.")

658 pairs of shoes were purchased by AU buyers.

## 8. Which brand has the highest average transaction value?

In [77]:
(
    sales_and_currency
    .groupby('brand')
    .agg(avg_transactions = ('price_€', 'mean'))
    .sort_values(by='avg_transactions', ascending=False)
    .round()
).iloc[:3, :]

             avg_transactions
brand
Goyard                  339.0
Loewe                   335.0
Craig Green             267.0

In [88]:
sales_and_currency.groupby('brand').agg(avg_transactions = ('price_€', 'mean'))\
                  .sort_values(by='avg_transactions', ascending=False).round()

                avg_transactions
brand
Goyard                     339.0
Loewe                      335.0
Craig Green                267.0
TAG Heuer                  225.0
Emilio Pucci               215.0
...                          ...
Popular Sports               4.0
Max Factor                   4.0
Bronica                      3.0
360 Cashmere                 1.0
36572                        1.0

[1134 rows x 1 columns]

In [94]:
brand = sales_and_currency.groupby('brand').agg(avg_transactions = ('price_€', 'mean'))\
                  .sort_values(by='avg_transactions', ascending=False).round().iloc[:1, :0].index[0]

brand

'Goyard'

In [95]:
print(f"{brand} has the highest average transaction value.")

Goyard has the highest average transaction value.

**OR**

In [79]:
print(f"""{(
            sales_and_currency
            .groupby('brand')
            .agg(avg_transactions = ('price_€', 'mean'))
            .sort_values(by='avg_transactions', ascending=False)
            .round()
            ).iloc[:1, :].index[0]} has the highest average transaction value.""")

Goyard has the highest average transaction value.

## 9. What is the total value of items purchased by GB buyers from GB sellers?

In [96]:
sales_and_currency\
    [(sales_and_currency['buyer_country'] == 'GB')\
    & (sales_and_currency['seller_country'] == 'GB')]\
    ['price_€'].sum().round()

3526745.0

In [87]:
print("""The total value of items purchased by US buyers from US sellers is €{:,.0f}.""".
        format(sales_and_currency
        [(sales_and_currency['buyer_country'] == 'GB')
        & (sales_and_currency['seller_country'] == 'GB')]
        ['price_€'].sum().round())
      )

The total value of items purchased by US buyers from US sellers is €3,526,745.

## 10. What percentage of US sellers' transactions were purchased by US buyers?

In [98]:
sales_and_currency\
    [sales_and_currency['seller_country'] == 'US']\
        .groupby('buyer_country')\
        .agg(total_transactions=('price_€', 'sum'))

               total_transactions
buyer_country
AU                   1.389946e+04
CA                   1.772574e+04
DE                   3.738757e+03
FR                   4.071525e+03
GB                   2.009851e+04
IE                   1.069850e+03
IT                   1.712818e+03
RoW                  2.259959e+04
US                   2.021779e+06

In [99]:
sales_and_currency\
    [sales_and_currency['seller_country'] == 'US']\
        .groupby('buyer_country')\
        .agg(total_transactions=('price_€', 'sum'))\
        .apply(lambda x: (x/x.sum())*100)\
        .sort_values('total_transactions', ascending=False)\
        .round(2)

               total_transactions
buyer_country
US                          95.97
RoW                          1.07
GB                           0.95
CA                           0.84
AU                           0.66
FR                           0.19
DE                           0.18
IT                           0.08
IE                           0.05

In [100]:
print("""The percentage of US sellers' transactions were purchased by US buyers is {:.2f}%""".
        format(sales_and_currency
        [sales_and_currency['seller_country'] == 'US']
        .groupby('buyer_country')
        .agg(total_transactions=('price_€', 'sum'))
        .apply(lambda x: 100*x/x.sum())
        .sort_values('total_transactions', ascending=False)
        .round(2).iloc[0, 0])
      )

The percentage of US sellers' transactions were purchased by US buyers is 95.97%

## 11. Which country made the highest percentage of international purchases?

In [102]:
(
    sales_and_currency
    .groupby('buyer_country')
    .agg(total_transactions=('price_€', 'sum'))
    .apply(lambda x: (x/x.sum())*100)
    .round(2)
    .sort_values('total_transactions', ascending=False)
)

               total_transactions
buyer_country
GB                          55.30
US                          32.89
AU                           3.40
IT                           2.54
RoW                          2.38
IE                           1.79
CA                           1.03
DE                           0.39
FR                           0.28

In [104]:
print(f"""{(
            sales_and_currency
            .groupby('buyer_country')
            .agg(total_transactions=('price_€', 'sum'))
            .apply(lambda x: x*100/x.sum())
            .round(2)
            .sort_values('total_transactions', ascending=False)
            ).iloc[:1, 0].index[0]} made the highest percentage international purchases with {(
            sales_and_currency
            .groupby('buyer_country')
            .agg(total_transactions=('price_€', 'sum'))
            .apply(lambda x: (x/x.sum())*100)
            .round(2)
            .sort_values('total_transactions', ascending=False)
            ).iloc[0, 0]}%"""
     )

GB made the highest percentage international purchases with 55.3%

## 12. Which day has the highest value of purchases?

In [105]:
(
    sales_and_currency
    .groupby('date')
    .agg(total_transactions=('price_€', 'sum'))
    .round(2)
    .sort_values('total_transactions', ascending=False)
).iloc[0]

total_transactions    1005280.67
Name: 2020-08-03 00:00:00, dtype: float64

## 13. Which category has 2,324 transactions on 7 August?

In [106]:
(
    sales_and_currency[sales_and_currency['date'] == '2020-08-07']
    .groupby('category')
    .agg(cnt_transactions=('price_€', 'count'),
         total_transactions=('price_€', 'sum'))
    .query('cnt_transactions == 2324')
    .round(2)
)

           cnt_transactions  total_transactions
category
Jewellery              2324            35403.05

## 14. What percentage of global sales value on 4 August came from US sellers?

In [110]:
# Solution 1

sales_and_currency[sales_and_currency['date'] == '2020-08-04']\
                .groupby('seller_country').agg(total_transactions=('price_€', 'sum'))\
                .apply(lambda x: (x/x.sum())*100).round(2).sort_values('total_transactions', ascending=False)

                total_transactions
seller_country
GB                           58.18
US                           33.27
IT                            2.94
AU                            2.80
IE                            1.08
RoW                           0.77
CA                            0.74
DE                            0.16
FR                            0.05

In [111]:
(
    sales_and_currency[sales_and_currency['date'] == '2020-08-04']
    .groupby('seller_country')
    .agg(total_transactions=('price_€', 'sum'))
    .apply(lambda x: (x/x.sum())*100)
    .round(2)
    .sort_values('total_transactions', ascending=False)
).iloc[1]

total_transactions    33.27
Name: US, dtype: float64

In [115]:
# Solution 2

a = sales_and_currency[(sales_and_currency['date'] == '2020-08-04') & (sales_and_currency['seller_country'] == 'US')]['price_€'].sum()
a

311133.04332737933

In [116]:
b = sales_and_currency[(sales_and_currency['date'] == '2020-08-04')]['price_€'].sum()
b

935129.3255536667

In [118]:
(a / b) * 100

33.27165931227376

## 15. How many sellers in US has more than 75 sales?

In [119]:
# Solution 1

(
    sales_and_currency[sales_and_currency['seller_country'] == 'US']
    .groupby('seller_id')
    .agg(cnt_sales=('price_€', 'count'))
    .round(2)
    .sort_values('cnt_sales', ascending=False)
    .query('cnt_sales > 75')
    .count()
)

cnt_sales    22
dtype: int64

In [126]:
# Solution 2

US_sellers = sales_and_currency[(sales_and_currency['seller_country'] == 'US')]["seller_id"].value_counts()
US_sellers = pd.DataFrame(US_sellers)
US_sellers

          seller_id
pzsiehl0        703
wd3rgi3q        525
j21w87xy        500
ucp2k0nu        218
r64zesw6        211
...             ...
7rfl4kna          1
adjpokr8          1
dwa74lzi          1
kkpxrcos          1
f17ie21j          1

[34119 rows x 1 columns]

In [128]:
US_sellers[US_sellers["seller_id"] > 75].count()

seller_id    22
dtype: int64

## 16. Which seller in the US sold the most in terms of value?

In [129]:
# Solution 1

(
    sales_and_currency[sales_and_currency['seller_country'] == 'US']
    .groupby('seller_id')
    .agg(total_sales=('price_€', 'sum'))
    .round(2)
    .sort_values('total_sales', ascending=False)
    .iloc[:1, :]
)

           total_sales
seller_id
pzsiehl0      20558.87

In [134]:
# Solution 2

US_sellers = sales_and_currency[(sales_and_currency['seller_country'] == 'US')][['seller_id', "price_€"]]
US_sellers = pd.DataFrame(US_sellers)
US_sellers

       seller_id     price_€
23      dhsa2q6o   13.849097
24      dhsa2q6o   15.451461
79      zhu1ajrz   11.426142
80      zhu1ajrz    4.701382
81      zhu1ajrz    4.471838
...          ...         ...
237660  quu0ky19   21.758351
237662  2jwn7shh    7.706853
237663  w8g31gsr   28.405893
237667  bk6apusi   58.117254
237670  0au7baxi  135.366583

[82111 rows x 2 columns]

In [149]:
US_sellers = US_sellers.groupby("seller_id")["price_€"].sum()
US_sellers = pd.DataFrame(US_sellers)
US_sellers.sort_values("price_€", ascending=False).iloc[:1]

                price_€
seller_id
pzsiehl0   20558.868517

## 17. Which brand had the largest absolute € difference in average transaction value between domestic and international?

In [51]:
sales_and_currency.head()

     buyer_id buyer_country seller_id  ...       date     rate    price_€
0  qzpjsi9t0o            GB  6oufpaot  ... 2020-08-03  0.89935  21.248680
1  o79pns1qwo            GB  50xki2yg  ... 2020-08-09  0.90278  17.634418
2  sjgbjdkhqx            GB  50xki2yg  ... 2020-08-07  0.90286   7.055357
3  o79pns1qwo            GB  s0p322hh  ... 2020-08-09  0.90278  27.991316
4  o79pns1qwo            GB  dpkx192v  ... 2020-08-09  0.90278   9.858437

[5 rows x 12 columns]

In [52]:
sales_domestic = (
                    sales_and_currency
                    .groupby(['brand', 'buyer_country', 'seller_country'])
                    .agg(avg_sales=('price_€', 'mean'))
                    .round(2)
                    .query('buyer_country == seller_country')
                    .reset_index(level='brand')
                    .reset_index(drop=True)
                    .groupby('brand')
                    .agg(avg_sales=('avg_sales', 'mean'))
                )

In [53]:
sales_domestic.index.names

FrozenList(['brand'])

In [54]:
sales_international = (
                        sales_and_currency
                        .groupby(['brand', 'buyer_country', 'seller_country'])
                        .agg(avg_sales=('price_€', 'mean'))
                        .round(2)
                        .query('buyer_country != seller_country')
                        .reset_index(level='brand')
                        .reset_index(drop=True)
                        .groupby('brand')
                        .agg(avg_sales=('avg_sales', 'mean'))
                       )

In [55]:
sales_international.index.names

FrozenList(['brand'])

In [56]:
sales_dom_int = sales_international.merge(sales_domestic, how='inner',
                                          left_index=True, right_index=True,
                                          suffixes=('_international', '_domestic'))

In [57]:
sales_dom_int

                     avg_sales_international  avg_sales_domestic
brand
& Other Stories                    21.620000              31.305
ARE YOU AM I                       87.800000              60.460
ASOS                               30.432000              18.425
Abercrombie & Fitch                 8.630000              14.085
Acacia Swimwear                    90.190000              39.490
...                                      ...                 ...
Yeezy                             209.560000             138.240
Yves Saint Laurent                110.915000             135.725
ZAFUL                              17.855000              15.080
Zara                               44.781667              19.955
ghd                                57.810000              63.550

[276 rows x 2 columns]

In [58]:
sales_dom_int.columns

Index(['avg_sales_international', 'avg_sales_domestic'], dtype='object')

In [59]:
sales_dom_int.insert(2, 'diff', abs(sales_dom_int['avg_sales_international'] - sales_dom_int['avg_sales_domestic']))

In [60]:
sales_dom_int.sort_values(by='diff', ascending=False)

                avg_sales_international  avg_sales_domestic        diff
brand
Needles                      314.340000              26.800  287.540000
Christian Dior               350.463333              70.180  280.283333
Givenchy                     260.800000              47.720  213.080000
Moncler                      309.490000              96.620  212.870000
Dior                         282.925000             102.015  180.910000
...                                 ...                 ...         ...
Hugo Boss                     22.580000              23.010    0.430000
Jaded London                  30.490000              30.110    0.380000
Diadora                       24.940000              24.580    0.360000
Looney Tunes                  22.170000              21.940    0.230000
MissPap                       11.850000              12.020    0.170000

[276 rows x 3 columns]

In [61]:
(
    sales_and_currency
    .query('buyer_country == seller_country')
        [['brand', 'price_€']]
    .groupby('brand')
    .agg(avg_price=('price_€','mean'))
    .round(2)
)

                 avg_price
brand
& Other Stories      35.95
032c                 21.92
11 Degrees           12.88
1822 Denim           12.04
3.1 Phillip Lim       8.91
...                    ...
ghd                  63.55
kensie               19.75
liquid blue          38.94
mixxmix              15.67
philosophy           19.13

[977 rows x 1 columns]

In [62]:
(
    sales_and_currency
    .query('buyer_country != seller_country')
        [['brand', 'price_€']]
    .groupby('brand')
    .agg(avg_price=('price_€','mean'))
    .round(2)
)

                     avg_price
brand
& Other Stories          21.62
ARE YOU AM I             87.80
ASOS                     27.06
Abercrombie & Fitch       8.63
Acacia Swimwear          90.19
...                        ...
Yeezy                   170.06
Yves Saint Laurent       88.23
ZAFUL                    17.86
Zara                     42.93
ghd                      57.81

[288 rows x 1 columns]

In [63]:
sales_dom_int2 = (
                    sales_and_currency
                    .query('buyer_country == seller_country')
                        [['brand', 'price_€']]
                    .groupby('brand')
                    .agg(avg_price=('price_€','mean'))
                    .round(2)
                ).merge((
                    sales_and_currency
                    .query('buyer_country != seller_country')
                        [['brand', 'price_€']]
                    .groupby('brand')
                    .agg(avg_price=('price_€','mean'))
                    .round(2)
                ), 'inner', left_index=True, right_index=True,
                suffixes=['_domestic', '_international'])

In [64]:
sales_dom_int2.columns

Index(['avg_price_domestic', 'avg_price_international'], dtype='object')

In [65]:
sales_dom_int2.insert(2, 'diff', abs(sales_dom_int2['avg_price_domestic'] - sales_dom_int2['avg_price_international']))

In [66]:
sales_dom_int2.sort_values(by='diff', ascending=False)

                 avg_price_domestic  avg_price_international    diff
brand
Needles                       26.80                   314.34  287.54
Christian Dior                65.29                   350.46  285.17
Vlone                        105.68                   326.38  220.70
Moncler                       96.62                   309.49  212.87
Givenchy                      54.99                   260.80  205.81
...                             ...                      ...     ...
Donnay                        11.56                    12.00    0.44
Common Projects              110.42                   109.99    0.43
Jaded London                  30.11                    30.49    0.38
Looney Tunes                  21.94                    22.17    0.23
MissPap                       12.02                    11.85    0.17

[276 rows x 3 columns]