In [2]:
import pandas as pd
import numpy as np

# 1.How many rows in the sales dataset?(Just write numbers)

In [3]:
df=pd.read_csv('sales_082020.csv')
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [4]:
dfx= pd.read_csv('currency_rates_082020_EUR.csv')
dfx

    currency       date    rate
0        EUR   8/1/2020  1.0000
1        EUR   8/2/2020  1.0000
2        EUR   8/3/2020  1.0000
3        EUR   8/4/2020  1.0000
4        EUR   8/5/2020  1.0000
..       ...        ...     ...
215      BRL   8/6/2020  6.3324
216      BRL   8/7/2020  6.4111
217      BRL   8/8/2020  6.4111
218      BRL   8/9/2020  6.4111
219      BRL  8/10/2020  6.4351

[220 rows x 3 columns]

In [5]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [6]:
df.shape

(237671, 10)

In [7]:
df.shape[0]

237671

In [8]:
len(df)

237671

# 2.How many columns in the sales dataset?(Just write numbers)

In [6]:
df.shape[1]

10

# 3. What is the total number of sellers?(Just write numbers)

In [148]:
df["seller_id"].value_counts().count()

114227

In [12]:
len(df["seller_id"].unique())

114227

In [11]:
df["seller_id"].nunique()

114227

# 4.What is the total value of sales in EUR?(Just write numbers)

In [107]:
df['currency'].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [15]:
dfx.sample(10)

    currency      date        rate
132      MXN  8/3/2020   26.625950
126      THB  8/7/2020   36.808000
73       CHF  8/4/2020    1.078265
147      JPY  8/8/2020  124.873400
198      HUF  8/9/2020  346.270000
8        EUR  8/9/2020    1.000000
81       SEK  8/2/2020   10.341820
31       AUD  8/2/2020    1.648640
211      BRL  8/2/2020    6.134300
6        EUR  8/7/2020    1.000000

In [16]:
dfs= df.copy()
dfc= dfx.copy()

In [19]:
dfs.date = pd.to_datetime(dfs.date)

In [20]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

In [21]:
dfc.date= pd.to_datetime(dfc.date)

In [22]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [23]:
df_new = pd.merge(dfs, dfc, how= 'inner', on= ['currency', 'date'])
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [24]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237671 entries, 0 to 237670
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
 10  rate            237671 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 21.8+ MB

In [29]:
df_new.sample(10)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
10525,tlfpxzxzkv,GB,uqcji71x,GB,sagqguttnstk,Tech,NaN,GBP,38.54,2020-08-03,0.899350
188210,iyc0tjslnk,US,jqpop5ko,US,tbruh9bxepg0,Home,NaN,USD,14.70,2020-08-08,1.178700
71840,ubnf88vwzq,GB,0m633beq,GB,tgd6t0dms9fw,Jewellery,NaN,GBP,4.32,2020-08-04,0.902815
160042,0ccah02y1z,GB,u1xzxcj1,GB,hpchpian0xar,Bottoms - Womens,NaN,GBP,15.91,2020-08-08,0.903200
43932,1xsw1e2b1a,GB,hbtm3tdy,GB,2ch1v4uuzidz,Tops - Womens,NaN,GBP,17.46,2020-08-07,0.902860
2056,tywn51pqst,GB,zus95fk0,GB,a0452u1lkm2s,Kids,NaN,GBP,19.02,2020-08-03,0.899350
222350,d4857dvvyt,US,j6ck5spg,US,eye48wqpngyu,Other,NaN,USD,81.54,2020-08-07,1.178785
176711,r6i34ir0lm,US,7qilwvqo,US,524ubv8opfqv,Bottoms - Womens,Urban Outfitters,USD,30.99,2020-08-09,1.178450
94180,7xkv54bpe9,GB,9s8wuks9,GB,1fr54bzx3mxz,Dresses,Jaded London,GBP,39.29,2020-08-05,0.904500
23367,1ioaeds7j3,GB,hbtm3tdy,GB,hwyyu6unkcw2,Dresses,NaN,GBP,16.91,2020-08-09,0.902780

In [31]:
df_new['total']= df_new.price / df_new.rate
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [33]:
df_new['total'].sum().round()

6471511.0

# 5.Which brand has the highest number of purchases during the period?(Write down brand as in dataset, answer is case sensitive)

In [34]:
dfs.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [35]:
dfs.brand.str.lower().value_counts()

nike                  9575
brandy melville       5085
topshop               4561
prettylittle thing    4136
adidas                3905
                      ...
preen                    1
wacoal                   1
shu uemura               1
parker                   1
vita fede                1
Name: brand, Length: 1132, dtype: int64

In [37]:
df_new[df_new['brand']== 'Nike']['total'].sum().round()

385022.0

In [38]:
df_new.groupby('brand').total.sum().sort_values(ascending= False)

brand
Nike                  385022.414067
Adidas                114211.542782
American Vintage       89939.908652
Brandy Melville        87735.664806
Dr. Martens            81491.623673
                          ...
butter LONDON              5.457968
Ann Demeulemeester         5.262487
Popular Sports             4.452175
360 Cashmere               2.852719
36572                      0.950199
Name: total, Length: 1134, dtype: float64

In [ ]:
#6. How many items in the “Jewelry” category have no brand associated with them?(Just write numbers)

In [41]:
dfs['brand'].isnull().sum()

118341

In [40]:
dfs['category'].unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [42]:
dfs['brand'].unique()

array([nan, 'Adidas Originals', 'Berghaus', ..., 'Top Stitch',
       'Kimora Lee Simmons', 'Vita Fede'], dtype=object)

In [43]:
(dfs['category']== "Jewellery").sum()

14923

In [45]:
dfs[(dfs['category']== "Jewellery") & dfs['brand'].isnull()]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
23,94lh9gu3bu,US,dhsa2q6o,US,1m846u2l2dyl,Jewellery,NaN,USD,16.29,2020-08-03
48,u8da411658,AU,qn7p4cv2,AU,dd4d4p2h4us2,Jewellery,NaN,AUD,12.52,2020-08-07
49,9exo58j839,AU,qn7p4cv2,AU,6nogqtmgfjsn,Jewellery,NaN,AUD,8.48,2020-08-09
50,9exo58j839,AU,qn7p4cv2,AU,w5ixs8y20z3n,Jewellery,NaN,AUD,5.58,2020-08-09
51,9exo58j839,AU,qn7p4cv2,AU,g5usn39z8b7u,Jewellery,NaN,AUD,5.37,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237545,rabu7nz8gn,US,rv5nmiwq,US,ikfosml5pjas,Jewellery,NaN,USD,21.19,2020-08-05
237568,ytjobx2wzg,GB,qib5sh0l,GB,tn00dvezdp43,Jewellery,NaN,GBP,1.15,2020-08-05
237569,ytjobx2wzg,GB,qib5sh0l,GB,eykndnmcb4g6,Jewellery,NaN,GBP,1.15,2020-08-05
237616,p0jol2ieus,US,4pi8qok2,US,0ipj5zmes1cu,Jewellery,NaN,USD,18.67,2020-08-08
237643,q86525x69t,GB,33hffrhq,GB,426jwzj6b2uz,Jewellery,NaN,GBP,5.30,2020-08-05

In [46]:
dfs[(dfs['category']== "Jewellery") & dfs['brand'].isnull()][['product_code']].nunique()

product_code    10931
dtype: int64

In [ ]:
# 7.How many brands have between 35 and 55 transactions (inclusive)?(Just write numbers)

In [50]:
dfs['brand'].value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [128]:
df['brand'].isnull().sum()

118341

In [123]:
(df['brand'].value_counts()<=55)

Nike                  False
Brandy Melville       False
Topshop               False
PrettyLittle Thing    False
Adidas                False
                      ...
Preen                  True
Wacoal                 True
Shu Uemura             True
Parker                 True
Vita Fede              True
Name: brand, Length: 1134, dtype: bool

In [52]:
((df['brand'].value_counts()>=35) & (df['brand'].value_counts()<=55)).sum()

81

In [65]:
(df['brand'].value_counts()<=55).sum()

895

In [67]:
(df['brand'].value_counts()<35).sum()

814

In [53]:
(df['brand'].value_counts()<=55).sum() - (df['brand'].value_counts()<35).sum()

81

In [55]:
(dfs.groupby('brand')['brand'].count().apply(lambda x: 34< x <56)).sum()

81

# 8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write numbers)

In [56]:
df['buyer_country'].value_counts()

GB     134704
US      82661
AU       7868
IE       4046
RoW      2880
IT       2532
CA       2247
DE        466
FR        267
Name: buyer_country, dtype: int64

In [57]:
df[(df['buyer_country']== 'AU') & (df['category']== 'Shoes')]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
139,ex9bpqq8w6,AU,j3pkou10,US,2tzszjhssh03,Shoes,Skechers,USD,52.24,2020-08-08
539,uru4etz7e5,AU,1i84ez1k,AU,zzu9hpjsjx6o,Shoes,NaN,AUD,73.73,2020-08-09
5639,9fn32ae6a9,AU,arloo1le,GB,a2gdza98bia7,Shoes,Nike,GBP,75.27,2020-08-09
7117,40jm2mgsri,AU,toud3ymd,AU,so29y8tl6rvs,Shoes,Nike,AUD,55.03,2020-08-09
7118,ncxx01xn4j,AU,toud3ymd,AU,utn7clcp7j3n,Shoes,NaN,AUD,211.76,2020-08-03
...,...,...,...,...,...,...,...,...,...,...
236930,azmnowovd7,AU,xgse9ed3,AU,1xzq0f7a31bi,Shoes,NaN,AUD,85.48,2020-08-05
237075,i0loqi83nv,AU,f8ts15sr,AU,zvrlgzyse7j6,Shoes,NaN,AUD,34.01,2020-08-05
237495,86aw49gm0m,AU,seb5z7bo,AU,xeebt9i4gyo3,Shoes,NaN,AUD,85.69,2020-08-05
237497,pcd2mdsr3n,AU,agzes91a,AU,bvqweclvm8tx,Shoes,NaN,AUD,95.27,2020-08-06
237575,0s9ms8inq0,AU,zkon4br2,AU,srw1zpebx9zo,Shoes,Nike,AUD,180.12,2020-08-05

In [58]:
df[(df['buyer_country']== 'AU') & (df['category']== 'Shoes')].count()

buyer_id          658
buyer_country     658
seller_id         658
seller_country    658
product_code      658
category          658
brand              81
currency          658
price             658
date              658
dtype: int64

In [68]:
df['category'].unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

# 9. Which brand has the highest average transaction value? (Just write brand name)

In [60]:
df_new.groupby('brand')['total'].mean().sort_values(ascending= False)

brand
Goyard            338.926936
Loewe             334.530369
Craig Green       266.792684
TAG Heuer         224.586782
Emilio Pucci      214.758636
                     ...
Popular Sports      4.452175
Max Factor          4.329298
Bronica             3.329066
360 Cashmere        0.950906
36572               0.950199
Name: total, Length: 1134, dtype: float64

In [59]:
df_new[df_new['brand']== 'Goyard']['total'].mean()

338.92693604836

# 10. What is the total value of items purchased by GB buyers from GB sellers? (Just write numbers)

In [61]:
df_new[(df_new['buyer_country']== 'GB') & (df_new['seller_country']== 'GB')]['total'].sum()

3526745.033129233

# 11. What percentage of US sellers' transactions were purchased by US buyers? (Just write percentage)

In [68]:
df_new[(df_new['seller_country']== 'US')].total.sum()

2106695.5606899997

In [64]:
df_new[(df_new['buyer_country']== 'US') & (df_new['seller_country']== 'US')].total.sum()

2021779.311517296

In [69]:
(2021779.311517296/2106695.5606899997)*100

95.96922067159569